<a href="/movies">Go back</a>
<div>
<img src="{{movie.image}}" alt="">
</div>
<div>
<h2>Title{{movie.title}}</h2>
<p>starts: {{movie.stars}}</p>
<p>Description: {{movie.description}}/10</p>
<p>Director: {{movie.director}}/10</p>
<p>{{movie.description}}</p>
<a href="/movies/update/{{movie.id}}">update</a>
</div>

